

h2{
  padding-top: 85px;
  padding-bottom: 15px;
  padding-left: 5%;
}

h5 {
  padding-top: 30px;
  padding-right: 15%;
}
.classH6{
  padding-top: 10px;
}
h6{
  margin-top: -100px;
}

body, html {
  height: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.columnLeft p {
  padding-right: 15%; 
  text-align: justify;
  text-justify: inter-word;

}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 0px;
    /*Should be removed. Only for demonstration */
    /*height: 400px;*/
    /*height: 100%;*/
    /*position: relative;*/
    display:inline-block;

}

.left {
  width: 30%;
  background-color:#e3e3e3;"
  height: 100%;
}

.right {
  width: 70%;
  height: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    /*position: absolute;*/
}

.columnLeft {
	padding-left: 20%;
}

.navbar{
	/*height: 20px;*/
  font-family: "Catamaran";
  /*transition-duration: 2s;*/
  background-color: #242424;
  /*background-color: rgba(0, 0, 0, .4);*/


}

.navbar 
{
  min-height: 50px;
}

.navbar-brand 
{
  height: 50px;
  line-height: 80px;
}



@media screen and (max-width: 1000px) {
.left {
    width: 40%;
  }
  .right{
    width: 60%;
  }
  
  .columnLeft {
    /*font-size: 70%;*/
    height: 400px;
  }

  .columnLeft h6, h5, p{
  font-size: 50%;
}

/*.columnLeft h5{
  font-size: 100%;
}*/
  .columnRight img {
    height: 400px;
  }

  .navbar-brand
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 500px) {
.navbar-brand
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}


* {
  box-sizing: border-box;
}

.rowPhoto {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  padding-bottom: 8px;
  padding-right: 18px;
}

/* Create four equal columns that sits next to each other */
.columnPhoto {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 100%;
  max-height: 100%;
  padding: 0 4px;
}

.columnPhoto img {
  margin-top: 8px;
  /*padding-bottom: 8px;*/
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .columnPhoto {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columnPhoto {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
